.section {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 100vh;
	position: relative;

	h1 {
		margin-bottom: 3rem;
	}

	.section__head {
		text-align: center;
		background-color: #fff;
	}

	&:has(.section__body) {
		display: block;

		.section__head {
			padding: 2.5rem 3rem 0;
			width: 100%;
			border-bottom: .2rem solid gainsboro;
		}

		.section__body {
			padding: 2.5rem 3rem 0;
		}

		.search {
			display: flex;
			align-items: center;

			@media(max-width: 768px) {
				display: block;
			}

			h1 {
				margin-right: 2rem;
				margin-bottom: 0;
				font-size: 3.8rem;

				@media(max-width: 768px) {
					margin-bottom: 2rem;
					font-size: 2.2rem;
					text-align: left;
				}
			}
		}
	}
}